@import "default.scss";

#front_page {
    .wrapper {
        display: table;
        background-color: #e6e6e6;
        height: 100%;
        min-height: 100vh;
        width: 100%;
        padding: 5% 0% 0% 10%;
        .row {
            display: table-cell;
            vertical-align: middle;
            .top-text {
                margin-top: 30%;
            }
            .computer-image {
                background-image: url(../img/computerimg.png);
                height: 85vh;
                width: 100%;
                background-size: contain;
                background-position: center right;
                background-repeat: no-repeat;
            }
        }
    }
}
#navigation {
    position: fixed;
    top: 0; left: 75px; right: 0;
    z-index: 1000;
    .wrapper {
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        padding: 0px 16px 0px 0px;
        .top-banner {
            height: 60px;
            line-height: 60px;
            overflow: hidden;
            img {
                height: 65px;   
            }
            > *, div > * {
                display: inline-block;
                margin: 0;
            }
        }
        ul {
            list-style: none;
            padding: 10px 0;
            margin: 0;
            border-top: 1px solid #ddd;
            position: fixed;
            top: -1px; bottom: 0;
            left: -93px;
            width: 170px;
            background-color: #252227;
            -webkit-transition: left .5s ease-out;
            transition: left .5s ease-out;
            &:hover {
                left: 0;   
            }
            
            li {
                display: block;
                text-align: right;
                height: 60px;
                line-height: 60px;
                margin: 0 20px 0px 0px;
                a, .menu-bars {
                    text-decoration: none;
                    color: #dedede;
                    font-weight: 200;
                    letter-spacing: 1px;
                    padding: 15px 0px 15px 15px;
                    span {
                        background-color: #352f39;
                        height: 40px;
                        width: 40px;
                        line-height: 40px;
                        text-align: center;
                        margin-left: 20px;
                        font-size: 20px;
                    }
                }
                .menu-bars span {
                    background-color: transparent;
                    font-size: 28px;
                }
                &:hover a {
                    color: #fff;
                    span {
                        background-color: #3c3640;
                    }
                }
                &.active a {
                    color: #fff;
                    span {
                        background-color: #fff;
                        color: #252227;
                    }
                }
            }
            @media (max-width: 768px) {
                height: 62px;
                bottom: auto;
                padding-top: 6px;
                &:hover {
                    left: -93px;
                }
                li {
                    display: none;
                    &.bars {
                        display: block;
                    }
                }
            }
            &.push {
                left: 0;
                height: auto;
                bottom: 0;
                li {
                    display: block;
                }
            }
        }
    }
}

#dash_body {
    margin-top: 60px;
    width: calc(100% - 77px);
    height: calc(100vh - 60px);
    margin-right: 0; margin-left: auto;
    overflow: hidden;
    @media (max-width: 768px) {
        width: 100%;   
    }
    .page {
        display: none;
        &.open {
            display: block;   
        }
        iframe {
            width: 100%;
            height: calc(100vh - 60px);
            margin: 0;
            outline: 0;
            border: 0;
            box-shadow: none;
            padding: 0;
        }
    }
}

#upload_page, #browse_page, #about_page, #welcome {
    .wrapper {
        padding: 16px;
        padding-bottom: 0;
        background-color: #F3F3F3;
        .page_banner {
            padding: 40px 60px;
            margin-bottom: 16px;
            @media (max-width: 768px) {
                 padding: 30px 25px;   
            }
            .top-text {
                width: 100%;
                p {
                    width: 70%;
                }
                @media (max-width: 768px) {
                    width: 100%;
                    p {
                        width: 100%;
                    }
                }
            }
        }
    }
}
#welcome {
    .wrapper {
        .page_banner {
            background-color: $green;
            margin-bottom: 8px;
        }
        .row.first {
            margin: 0 -8px 8px -8px;   
        }
        .news {
            background-color: #000;
            margin: 8px;
            width: calc((100% / 3) - 16px);
            height: 220px;
            cursor: pointer;
            @media (max-width: 768px) {
                width: 100%;   
            }
            .news_info {
                position: absolute;
                bottom: 10px;
                left: 5px;
                z-index: 100;
                color: #fff;
                padding: 10px;
                font-weight: 100;
            }
            &:after {
                content: '';
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                opacity: .1;
                pointer-events: none;
                background-color: #000;
                -webkit-transition: opacity .4s ease-out;   
                transition: opacity .4s ease-out;   
            }
            &.one {
                background-color: $red; 
            }
            &.two {
                background-color: $blue; 
            }
            &.three {
                background-color: $yellow; 
            }
            &.big_news {
                height: 456px;
                background-color: $red;
                @media (max-width: 768px) {
                    width: 100%;   
                }
            }
            &:hover:after {
                opacity: .4;
            }
        }
    }
}
#browse_page {
    .wrapper {
        .page_banner {
            background-color: #fff;
        }
        .page_body {
            .nyhet {
                padding: 20px;
                background-color: #000;
                position: relative;
                margin-bottom: 16px;
                min-height: 124px;
                cursor: pointer;
                
            transition: all 1s ease-out;
                &:after {
                    content: '';
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    opacity: 0;
                    background-color: #000;
                    -webkit-transition: opacity .4s ease-out;   
                    transition: opacity .4s ease-out;   
                }
                &:hover:after {
                    opacity: .1;   
                }
                &.yellow {
                    background-color: $yellow;
                }
                &.red {
                    background-color: $red;
                }
                &.purple {
                    background-color: $purple;
                }
                &.green {
                    background-color: $green;
                }
                &.blue {
                    background-color: $blue;
                }
                .nyhet_text {
                    margin-left: 85px;
                    color: #fff;
                    z-index: 100;
                    position: relative;
                    margin-right: 145px;
                    @media (max-width: 768px) {
                        margin-left: 50px;
                        margin-right: 0;   
                    }
                    h1 {
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                    .name {
                        margin-top: 2px;
                    }
                    .desc {
                        margin-top: 10px;
                        font-size: 13px;
                        margin-bottom: 5px;
                        @media (max-width: 768px) {
                            margin-bottom: 15px;  
                        }
                    }
                    .morelink {
                        display: none;   
                    }
                    p {
                        letter-spacing: 1px;
                        margin-bottom: 0;
                    }
                    .morecontent span {
                        display: none;
                    }
                    .comment {
                        width: 400px;
                        background-color: #f0f0f0;
                        margin: 10px;
                    }
                }
                
                .date {
                    position: absolute;
                    right: 30px;
                    display: block;
                    z-index: 100;
                    top: 55px;
                    color: #fff;
                    @media (max-width: 768px) {
                        bottom: 6px;
                        top: auto;
                        right: 6px;   
                    }
                }
                .fa-plus, .fa-minus {
                    font-size: 60px;
                    display: block;
                    position: absolute;
                    z-index: 100;
                    color: #fff;
                    left: 30px;
                    top: 40px;
                    @media (max-width: 768px) {
                        font-size: 40px;
                        top: 20px;
                        left: 20px;   
                    }
                }
            }
        }
    }
}
#upload_page {
    .wrapper {
        .page_banner {
            background-color: $blue;
        }
        .page_body {
            background-color: #fff;
            margin-bottom: 16px;
            padding: 20px 10% 50px 10%;
            .border {
                margin-top: 20px;
                margin-bottom: 40px;   
            }
            form {
                width: 100%;
                input, select, textarea {
                    width: calc((100% /3) - 11px);  
                    padding: 10px 10px;
                    border: 1px solid #d4d4d4;
                    font-family: 'Montserrat';
                    font-size: 12px;
                    border-radius: 0px;
                    float: left;
                    margin-bottom: 16px;
                    letter-spacing: 1px;
                    font-weight: 300;
                    box-shadow: none;
                    outline: 0;
                    color: #666;
                    &.name {
                        margin-right: 16px;
                        border-top: 2px solid $red;
                    }
                    &.title {
                        margin-right: 16px;
                        border-top: 2px solid $yellow;
                    }
                }
                textarea {
                    width: 100%;
                    float: none;
                    height: 200px;
                    border-top: 2px solid $blue;
                }
                select {
                    border-top: 2px solid $purple;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    cursor: pointer;
                    background: url(../img/angle-down.png) 96% / 15% no-repeat #fff;
                    background-position: 98% center;
                    background-size: 22px;   
                }
                .submit {
                    background-color: $green;
                    color: #fff;
                    display: block;
                    margin: 0 auto;
                    border-radius: 5px;
                    opacity: 1;
                    float: none;
                    border: none;
                    padding: 15px 85px;
                    width: auto;
                    font-size: 15px;
                    letter-spacing: 1px;
                    &[disabled=true] {
                        background-color: #999;
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}
#about_page {
    .wrapper {
        .page_banner {
            background-color: $green;
        }
    }
}
