$green: #81C298;
$blue: #62ADCC;
$purple: #7B5681;
$yellow: #FCD166;
$red: #F26D66;
* {
    &.yellow {
        background-color: $yellow;
    }
    &.red {
        background-color: $red;
    }
    &.purple {
        background-color: $purple;
    }
    &.green {
        background-color: $green;
    }
    &.blue {
        background-color: $blue;
    }
}
.nosel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.clearfix {
    clear: both;
}
img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
html {
    width: 100%;
    padding: 0;
    margin: 0;
}

body { 
    font-family: 'Montserrat';
    font-weight: 200;
    -webkit-transition: all .4s ease-out;   
    transition: all .4s ease-out;
    &.modal.open {
        
    }
}
.center-text {
    text-align: center;
}
.no-marg {
    margin: 0;
}
.no-marg-bottom {
    margin-bottom: 0;
}
.no-marg-top {
    margin-top: 0;
}
.no-pad {
    padding: 0;
}
.caps {
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Montserrat';
    font-weight: 200;
    &.black {
        color: #000;   
    }
    &.dark {
        color: #888;   
    }
    &.light {
        color: #ddd;   
    }
    &.white {
        color: #fff;   
    }
}

h1 {
    font-size: 35px;
    letter-spacing: .5px;
    font-weight: 100;
    @media (max-width: 480px) {
        font-size: 27px;   
        font-weight: 200;
    }
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
    font-weight: 400; 
}
h4 {
    letter-spacing: 1.2px;
    strong {
        font-weight: 400;   
    }
}
h5 {
    
}
h6 {
    font-weight: 300;
}
p {
    font-family: 'Arcon Round';
    letter-spacing: .5px;
    font-size: 13px;
    line-height: 16px;
    &.center {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &.white {
        color: #fff;   
    }
    &.right {
        text-align: right;
        display: block;
        margin-left: auto;
        margin-right: 0;
        @media (max-width: 767px) {
            margin-right: auto;
            text-align: center;
        }
    }
}
strong {
    font-weight: 500;
}
.border {
    margin: 10px 0px;
    padding: 0;
    height: 2px;
    display: block;
    width: 50px;
    background: #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    &.short {
        width: 30px;
    }
    &.long {
        width: 70px;   
    }
    &.center {
        margin: 10px auto;   
    }
    &.white {
        background: #fff;   
    }
}

.btn {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    
    font-size: 12px;
    font-weight: 400;
    color: #000;
    letter-spacing: .3px;
    background: transparent;
    padding: 9px 42px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-bottom: 12px;
    width: 150px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    margin-right: 10px;
    &.large {
        width: 160px;
        padding: 10px 42px;
    }
    &.white {
        border-color: #fff;
        color: #fff;
        &:hover {
            background-color: rgba(255,255,255,.065);   
        }
        &.fill {
            background-color: #fff;
            color: #333;
            &:hover {
                background-color: darken(#fff, 10%);
            }
        }
    }
    &.black {
        border-color: #000;
        color: #000;
        &:hover {
            
        }
        &.fill {
            background-color: #000;
            color: #fff;
            &:hover {
                
            }
        }
    }
}