*.yellow {
  background-color: #FCD166; }
*.red {
  background-color: #F26D66; }
*.purple {
  background-color: #7B5681; }
*.green {
  background-color: #81C298; }
*.blue {
  background-color: #62ADCC; }

.nosel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.clearfix {
  clear: both; }

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

html {
  width: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Montserrat';
  font-weight: 200;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out; }

.center-text {
  text-align: center; }

.no-marg {
  margin: 0; }

.no-marg-bottom {
  margin-bottom: 0; }

.no-marg-top {
  margin-top: 0; }

.no-pad {
  padding: 0; }

.caps {
  text-transform: uppercase; }

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Montserrat';
  font-weight: 200; }
  h1.black, h2.black, h3.black, h4.black, h5.black, h6.black, a.black {
    color: #000; }
  h1.dark, h2.dark, h3.dark, h4.dark, h5.dark, h6.dark, a.dark {
    color: #888; }
  h1.light, h2.light, h3.light, h4.light, h5.light, h6.light, a.light {
    color: #ddd; }
  h1.white, h2.white, h3.white, h4.white, h5.white, h6.white, a.white {
    color: #fff; }

h1 {
  font-size: 35px;
  letter-spacing: .5px;
  font-weight: 100; }
  @media (max-width: 480px) {
    h1 {
      font-size: 27px;
      font-weight: 200; } }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px;
  font-weight: 400; }

h4 {
  letter-spacing: 1.2px; }
  h4 strong {
    font-weight: 400; }

h6 {
  font-weight: 300; }

p {
  font-family: 'Arcon Round';
  letter-spacing: .5px;
  font-size: 13px;
  line-height: 16px; }
  p.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  p.white {
    color: #fff; }
  p.right {
    text-align: right;
    display: block;
    margin-left: auto;
    margin-right: 0; }
    @media (max-width: 767px) {
      p.right {
        margin-right: auto;
        text-align: center; } }

strong {
  font-weight: 500; }

.border {
  margin: 10px 0px;
  padding: 0;
  height: 2px;
  display: block;
  width: 50px;
  background: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .border.short {
    width: 30px; }
  .border.long {
    width: 70px; }
  .border.center {
    margin: 10px auto; }
  .border.white {
    background: #fff; }

.btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  letter-spacing: .3px;
  background: transparent;
  padding: 9px 42px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-bottom: 12px;
  width: 150px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  margin-right: 10px; }
  .btn.large {
    width: 160px;
    padding: 10px 42px; }
  .btn.white {
    border-color: #fff;
    color: #fff; }
    .btn.white:hover {
      background-color: rgba(255, 255, 255, 0.065); }
    .btn.white.fill {
      background-color: #fff;
      color: #333; }
      .btn.white.fill:hover {
        background-color: #e6e6e6; }
  .btn.black {
    border-color: #000;
    color: #000; }
    .btn.black.fill {
      background-color: #000;
      color: #fff; }

#front_page .wrapper {
  display: table;
  background-color: #e6e6e6;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding: 5% 0% 0% 10%; }
  #front_page .wrapper .row {
    display: table-cell;
    vertical-align: middle; }
    #front_page .wrapper .row .top-text {
      margin-top: 30%; }
    #front_page .wrapper .row .computer-image {
      background-image: url(../img/computerimg.png);
      height: 85vh;
      width: 100%;
      background-size: contain;
      background-position: center right;
      background-repeat: no-repeat; }

#navigation {
  position: fixed;
  top: 0;
  left: 75px;
  right: 0;
  z-index: 10000; }
  #navigation .wrapper {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 0px 16px 0px 0px; }
    #navigation .wrapper .top-banner {
      height: 60px;
      line-height: 60px;
      overflow: hidden; }
      #navigation .wrapper .top-banner img {
        height: 65px; }
      #navigation .wrapper .top-banner > *, #navigation .wrapper .top-banner div > * {
        display: inline-block;
        margin: 0; }
    #navigation .wrapper ul {
      list-style: none;
      padding: 10px 0;
      margin: 0;
      border-top: 1px solid #ddd;
      position: fixed;
      top: -1px;
      bottom: 0;
      left: -93px;
      width: 170px;
      background-color: #252227;
      -webkit-transition: left .5s ease-out;
      transition: left .5s ease-out; }
      #navigation .wrapper ul:hover {
        left: 0; }
      #navigation .wrapper ul li {
        display: block;
        text-align: right;
        height: 60px;
        line-height: 60px;
        margin: 0 20px 0px 0px; }
        #navigation .wrapper ul li a, #navigation .wrapper ul li .menu-bars {
          text-decoration: none;
          color: #dedede;
          font-weight: 200;
          letter-spacing: 1px;
          padding: 15px 0px 15px 15px; }
          #navigation .wrapper ul li a span, #navigation .wrapper ul li .menu-bars span {
            background-color: #352f39;
            height: 40px;
            width: 40px;
            line-height: 40px;
            text-align: center;
            margin-left: 20px;
            font-size: 20px; }
        #navigation .wrapper ul li .menu-bars span {
          background-color: transparent;
          font-size: 28px; }
        #navigation .wrapper ul li:hover a {
          color: #fff; }
          #navigation .wrapper ul li:hover a span {
            background-color: #3c3640; }
        #navigation .wrapper ul li.active a {
          color: #fff; }
          #navigation .wrapper ul li.active a span {
            background-color: #fff;
            color: #252227; }
      @media (max-width: 768px) {
        #navigation .wrapper ul {
          height: 62px;
          bottom: auto;
          padding-top: 6px; }
          #navigation .wrapper ul:hover {
            left: -93px; }
          #navigation .wrapper ul li {
            display: none; }
            #navigation .wrapper ul li.bars {
              display: block; } }
      #navigation .wrapper ul.push {
        left: 0;
        height: auto;
        bottom: 0; }
        #navigation .wrapper ul.push li {
          display: block; }

#dash_body {
  margin-top: 60px;
  width: calc(100% - 77px);
  height: calc(100vh - 60px);
  margin-right: 0;
  margin-left: auto;
  overflow: hidden; }
  @media (max-width: 768px) {
    #dash_body {
      width: 100%; } }
  #dash_body .page {
    display: none; }
    #dash_body .page.open {
      display: block; }
    #dash_body .page iframe {
      width: 100%;
      height: calc(100vh - 60px);
      margin: 0;
      outline: 0;
      border: 0;
      box-shadow: none;
      padding: 0; }

#upload_page .wrapper, #browse_page .wrapper, #about_page .wrapper, #welcome .wrapper {
  padding: 16px;
  padding-bottom: 0;
  background-color: #F3F3F3; }
  #upload_page .wrapper .page_banner, #browse_page .wrapper .page_banner, #about_page .wrapper .page_banner, #welcome .wrapper .page_banner {
    padding: 40px 60px;
    margin-bottom: 16px; }
    @media (max-width: 768px) {
      #upload_page .wrapper .page_banner, #browse_page .wrapper .page_banner, #about_page .wrapper .page_banner, #welcome .wrapper .page_banner {
        padding: 30px 25px; } }
    #upload_page .wrapper .page_banner .top-text, #browse_page .wrapper .page_banner .top-text, #about_page .wrapper .page_banner .top-text, #welcome .wrapper .page_banner .top-text {
      width: 100%; }
      #upload_page .wrapper .page_banner .top-text p, #browse_page .wrapper .page_banner .top-text p, #about_page .wrapper .page_banner .top-text p, #welcome .wrapper .page_banner .top-text p {
        width: 70%; }
      @media (max-width: 768px) {
        #upload_page .wrapper .page_banner .top-text, #browse_page .wrapper .page_banner .top-text, #about_page .wrapper .page_banner .top-text, #welcome .wrapper .page_banner .top-text {
          width: 100%; }
          #upload_page .wrapper .page_banner .top-text p, #browse_page .wrapper .page_banner .top-text p, #about_page .wrapper .page_banner .top-text p, #welcome .wrapper .page_banner .top-text p {
            width: 100%; } }

#welcome {
  height: calc(100vh - 60px);
  overflow-y: scroll; }
  #welcome .wrapper .page_banner {
    background-color: #81C298;
    margin-bottom: 8px; }
    #welcome .wrapper .page_banner.middle {
      background-color: #fff; }
  #welcome .wrapper .row.first {
    margin: 0 -8px 8px -8px;
    position: relative; }
  #welcome .wrapper .links {
    background-color: #000;
    margin: 8px;
    width: calc((100% / 3) - 16px);
    height: 150px;
    cursor: pointer; }
    @media (max-width: 768px) {
      #welcome .wrapper .links {
        width: 100%; } }
    #welcome .wrapper .links .link_info {
      position: absolute;
      bottom: 10px;
      left: 5px;
      z-index: 100;
      color: #fff;
      padding: 10px;
      font-weight: 100; }
    #welcome .wrapper .links:after {
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      opacity: .1;
      pointer-events: none;
      background-color: #000;
      -webkit-transition: opacity .4s ease-out;
      transition: opacity .4s ease-out; }
    #welcome .wrapper .links.one {
      background-color: #F26D66; }
    #welcome .wrapper .links.two {
      background-color: #62ADCC; }
    #welcome .wrapper .links.three {
      background-color: #FCD166; }
    #welcome .wrapper .links.big_news {
      height: 456px;
      background-color: #F26D66; }
      @media (max-width: 768px) {
        #welcome .wrapper .links.big_news {
          width: 100%; } }
    #welcome .wrapper .links:hover:after {
      opacity: .4; }
  #welcome .wrapper .news {
    background-color: #000;
    margin: 8px;
    width: calc(50% - 16px);
    height: 220px;
    cursor: pointer; }
    @media (max-width: 768px) {
      #welcome .wrapper .news {
        width: 100%; } }
    #welcome .wrapper .news .news_info {
      position: absolute;
      bottom: 10px;
      left: 5px;
      z-index: 100;
      color: #fff;
      padding: 10px;
      font-weight: 100; }
      #welcome .wrapper .news .news_info h6 {
        display: none; }
    #welcome .wrapper .news .date {
      position: absolute;
      top: 5px;
      right: 10px;
      color: #fff;
      display: block;
      z-index: 100; }
    #welcome .wrapper .news .fa-plus, #welcome .wrapper .news .fa-minus {
      font-size: 40px;
      position: absolute;
      left: 15px;
      display: block;
      z-index: 100;
      top: 10px;
      color: #fff; }
    #welcome .wrapper .news:after {
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      opacity: .1;
      pointer-events: none;
      background-color: #000;
      -webkit-transition: opacity .4s ease-out;
      transition: opacity .4s ease-out; }
    #welcome .wrapper .news.one {
      background-color: #FCD166; }
    #welcome .wrapper .news.two {
      background-color: #81C298; }
    #welcome .wrapper .news.three {
      background-color: #F26D66; }
    #welcome .wrapper .news.four {
      background-color: #62ADCC; }
    #welcome .wrapper .news.big_news {
      height: 456px;
      background-color: #7B5681; }
      #welcome .wrapper .news.big_news .news_info {
        bottom: 15%;
        left: 10px; }
      #welcome .wrapper .news.big_news .fa-plus, #welcome .wrapper .news.big_news .fa-minus {
        font-size: 60px;
        left: 22px;
        top: 20px; }
      @media (max-width: 768px) {
        #welcome .wrapper .news.big_news {
          width: 100%; } }
    #welcome .wrapper .news:hover:after {
      opacity: .4; }
    #welcome .wrapper .news.read {
      position: absolute;
      z-index: 1000;
      left: -100%;
      top: 0;
      right: 0;
      width: auto;
      min-height: 456px;
      height: auto;
      padding: 20px; }
      #welcome .wrapper .news.read .news_info {
        position: relative;
        margin-left: 85px;
        color: #fff;
        z-index: 100;
        position: relative;
        margin-right: 145px;
        bottom: auto;
        left: auto; }
        #welcome .wrapper .news.read .news_info h6 {
          display: block; }
        #welcome .wrapper .news.read .news_info h4 {
          font-size: 35px;
          font-weight: 100; }
      #welcome .wrapper .news.read .date {
        top: 55px;
        right: 30px; }
      #welcome .wrapper .news.read .fa-plus, #welcome .wrapper .news.read .fa-minus {
        font-size: 60px;
        left: 30px;
        top: 40px; }
    #welcome .wrapper .news.big_news.read {
      left: 0; }
      #welcome .wrapper .news.big_news.read .news_info {
        bottom: auto;
        left: auto; }
        #welcome .wrapper .news.big_news.read .news_info h1 {
          margin-top: 5px; }

#browse_page .wrapper .page_banner {
  background-color: #fff; }
#browse_page .wrapper .page_body .nyhet {
  padding: 20px;
  background-color: #000;
  position: relative;
  margin-bottom: 16px;
  min-height: 124px;
  cursor: pointer;
  transition: all 1s ease-out; }
  #browse_page .wrapper .page_body .nyhet:after {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    background-color: #000;
    -webkit-transition: opacity .4s ease-out;
    transition: opacity .4s ease-out; }
  #browse_page .wrapper .page_body .nyhet:hover:after {
    opacity: .1; }
  #browse_page .wrapper .page_body .nyhet.yellow {
    background-color: #FCD166; }
  #browse_page .wrapper .page_body .nyhet.red {
    background-color: #F26D66; }
  #browse_page .wrapper .page_body .nyhet.purple {
    background-color: #7B5681; }
  #browse_page .wrapper .page_body .nyhet.green {
    background-color: #81C298; }
  #browse_page .wrapper .page_body .nyhet.blue {
    background-color: #62ADCC; }
  #browse_page .wrapper .page_body .nyhet .nyhet_text {
    margin-left: 85px;
    color: #fff;
    z-index: 100;
    position: relative;
    margin-right: 145px; }
    @media (max-width: 768px) {
      #browse_page .wrapper .page_body .nyhet .nyhet_text {
        margin-left: 50px;
        margin-right: 0; } }
    #browse_page .wrapper .page_body .nyhet .nyhet_text h1 {
      margin-top: 0px;
      margin-bottom: 0px; }
    #browse_page .wrapper .page_body .nyhet .nyhet_text .name {
      margin-top: 2px; }
    #browse_page .wrapper .page_body .nyhet .nyhet_text .desc {
      margin-top: 10px;
      font-size: 13px;
      margin-bottom: 5px; }
      @media (max-width: 768px) {
        #browse_page .wrapper .page_body .nyhet .nyhet_text .desc {
          margin-bottom: 15px; } }
    #browse_page .wrapper .page_body .nyhet .nyhet_text .morelink {
      display: none; }
    #browse_page .wrapper .page_body .nyhet .nyhet_text p {
      letter-spacing: 1px;
      margin-bottom: 0; }
    #browse_page .wrapper .page_body .nyhet .nyhet_text .morecontent span {
      display: none; }
    #browse_page .wrapper .page_body .nyhet .nyhet_text .comment {
      width: 400px;
      background-color: #f0f0f0;
      margin: 10px; }
  #browse_page .wrapper .page_body .nyhet .date {
    position: absolute;
    right: 30px;
    display: block;
    z-index: 100;
    top: 55px;
    color: #fff; }
    @media (max-width: 768px) {
      #browse_page .wrapper .page_body .nyhet .date {
        bottom: 6px;
        top: auto;
        right: 6px; } }
  #browse_page .wrapper .page_body .nyhet .fa-plus, #browse_page .wrapper .page_body .nyhet .fa-minus {
    font-size: 60px;
    display: block;
    position: absolute;
    z-index: 100;
    color: #fff;
    left: 30px;
    top: 40px; }
    @media (max-width: 768px) {
      #browse_page .wrapper .page_body .nyhet .fa-plus, #browse_page .wrapper .page_body .nyhet .fa-minus {
        font-size: 40px;
        top: 20px;
        left: 20px; } }

#upload_page .wrapper .page_banner {
  background-color: #62ADCC; }
#upload_page .wrapper .page_body {
  background-color: #fff;
  margin-bottom: 16px;
  padding: 20px 10% 50px 10%; }
  #upload_page .wrapper .page_body .border {
    margin-top: 20px;
    margin-bottom: 40px; }
  #upload_page .wrapper .page_body form {
    width: 100%; }
    #upload_page .wrapper .page_body form input, #upload_page .wrapper .page_body form select, #upload_page .wrapper .page_body form textarea {
      width: calc((100% /3) - 11px);
      padding: 10px 10px;
      border: 1px solid #d4d4d4;
      font-family: 'Montserrat';
      font-size: 12px;
      border-radius: 0px;
      float: left;
      margin-bottom: 16px;
      letter-spacing: 1px;
      font-weight: 300;
      box-shadow: none;
      outline: 0;
      color: #666; }
      #upload_page .wrapper .page_body form input.name, #upload_page .wrapper .page_body form select.name, #upload_page .wrapper .page_body form textarea.name {
        margin-right: 16px;
        border-top: 2px solid #F26D66; }
      #upload_page .wrapper .page_body form input.title, #upload_page .wrapper .page_body form select.title, #upload_page .wrapper .page_body form textarea.title {
        margin-right: 16px;
        border-top: 2px solid #FCD166; }
    #upload_page .wrapper .page_body form textarea {
      width: 100%;
      float: none;
      height: 200px;
      border-top: 2px solid #62ADCC; }
    #upload_page .wrapper .page_body form select {
      border-top: 2px solid #7B5681;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
      background: url(../img/angle-down.png) 96%/15% no-repeat #fff;
      background-position: 98% center;
      background-size: 22px; }
    #upload_page .wrapper .page_body form .submit {
      background-color: #81C298;
      color: #fff;
      display: block;
      margin: 0 auto;
      border-radius: 5px;
      opacity: 1;
      float: none;
      border: none;
      padding: 15px 85px;
      width: auto;
      font-size: 15px;
      letter-spacing: 1px; }
      #upload_page .wrapper .page_body form .submit[disabled=true] {
        background-color: #999;
        cursor: not-allowed; }

#about_page .wrapper .page_banner {
  background-color: #81C298; }

/*# sourceMappingURL=app.css.map */
